@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

*{
    font-family: 'Secular One', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modal{
    width: 100%;
    position: fixed;
    inset: 0;
    filter: blur(0.6px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_modal{
    position: relative;
    width: 100%;
    min-width: 250px;
    height: 100%;
    box-shadow: 1px 1px 15px rgba(7, 7, 7, 0.589);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4%;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 49%;
    left: 50%;
    right: 50%;
    position: absolute;
}
.loader{
    height: 120px;
    width: 120px;
    border-top: 5px solid #1fcc61;
    border-right: 5px solid transparent;
    border-radius: 50%;
}

/* ---------------------------------------------------------------------------- */

.container-form{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 60%; */
    max-width: 380px;
    height: 18vh;
    min-height: 15vh;
    min-width: 240px;
    background-color: rgba(219, 215, 213, 0.308);
    box-shadow: 1px 1px 15px rgba(7, 7, 7, 0.589);
    margin: 90px auto;
    border-radius: 10px;
}


.header{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-btn{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color:aqua; */
    margin-top: 19px;
}
.button{
    color: rgb(7, 8, 8);
    background-color: rgba(92, 100, 219, 0.747);
    width: 40%;
    border-radius: 7px;
}

.input{
    padding-left: 25px;
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
    background-size: 20px;
}

.content{
    min-width: 40%;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 20px rgba(7, 7, 7, 0.589);
    border-radius: 20px;
    position: absolute;
    top: 40%;
    left: auto;
    right: auto;
    bottom: auto;
}

.footer{
    box-shadow: 1px 1px 20px rgba(7, 7, 7, 0.589);
    padding: 9px 9px;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 20px;
}
.span{
    display: block;
    margin-left: 20px;
    margin-right: 20px  ;
}

.input{
    border-radius: 8px;
    width: 70%;
    border: 1px solid #272b29;
    margin-top: 19px ;
}

.input:hover{
    animation: snake 300ms;
}
@keyframes snake {
    25% { transform: translateX(4px); }
    50% { transform: translateX(-4px); }
    75% { transform: translateX(4px); }
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
