.body{
    margin: 0;
    padding: 0;
}

.modal{
    width: 100%;
    position: fixed;
    inset: 0;
    filter: blur(0.6px);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container_modal{
    position: relative;
    width: 20%;
    min-width: 250px;
    height: 25%;
    /* background: #c9c5c53f; */
    box-shadow: 1px 1px 15px rgba(7, 7, 7, 0.589);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4%;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 49%;
    left: 50%;
    right: 50%;
    position: absolute;
}
.loader{
    height: 120px;
    width: 120px;
    border-top: 5px solid #1fcc61;
    border-right: 5px solid transparent;
    border-radius: 50%;
    animation: 1s spin linear infinite;
    /* position: absolute; */
}

/* ---------------------------------------------------------------------------- */

.container-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 30vh;
    min-height: 20vh;
    min-width: 240px;
    background-color: rgba(219, 215, 213, 0.308);
    box-shadow: 1px 1px 15px rgba(7, 7, 7, 0.589);
    margin: 90px auto;
    border-radius: 10px;
}


.header{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-btn{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color:aqua; */
    margin-top: 22px;
}
.button{
    color: rgb(7, 8, 8);
    background-color: rgb(143, 241, 143);
    width: 40%;
}


.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 15px rgba(7, 7, 7, 0.589);

}
.input{
    border-radius: 10px;
}

.input:invalid{
    animation: snake 300ms;
    color: red
}
@keyframes snake {
    25% { transform: translateX(4px); }
    50% { transform: translateX(-4px); }
    75% { transform: translateX(4px); }
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}